<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_toto)/urdf/turtlebot_library.urdf.xacro" />

  <!--Custom sensor includes-->
  <xacro:include filename="$(find hector_sensors_description)/urdf/hokuyo_utm30lx.urdf.xacro" />

  <kobuki/> <!--Base of robot-->
  <stack_hexagons parent="base_link"/> <!--platforms-->
  <sensor_kinect  parent="base_link"/> <!--add sensors-->

  <!--Add custom sensors-->
  <xacro:hokuyo_utm30lx name="hokuyo_laser" parent="base_link" ros_topic="hokuyo_scan" update_rate="40" ray_count="1040" min_angle="130" max_angle="-130">
    <origin xyz="0.0925 -0.004 0.198" rpy="0 0 0"/>
  </xacro:hokuyo_utm30lx>
</robot>
